/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center;
}

.mt {
	margin-top: 50px;
}

.mb {
	margin-bottom: 80px;
}

.text-center {
	text-align: justify;
	margin-right: 100px;
	margin-left: 100px;
}

.img-fit-div {
	margin-top: 30px;
	max-width: 100%;
	max-height: 100%;
}

table.center {
    margin-right: 100px;
	margin-left: 100px;
}

tbody.left-center {
	text-align: left;
	font-size: 18px;
	margin-top: 25px;
	padding: 15px;
}

/* ==========================================================================
   General styles
   ========================================================================== */

th, td {
padding: 10px;
text-align: left;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
	color: #2f2f2f;
	font-size: 45px;
}

h6 {
	font-weight: 700;
	color: #2f2f2f;
	font-size: 25px;
}

p {
	font-size: 18px;
	/* margin-top: 25px; */
}

li {
	font-size: 18px;
}

.navbar-brand {
	font-weight: 700;
}

/* The home button on the left */
.navbar-default .navbar-brand {
	color: #2f2f2f;
}

/* The background of the header */
.navbar-default {	
	/* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
	background-color: #ffffff;
	border: none;
}

/* Not sure what this does */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #6c88a6;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

/* Man Pham Benji George Dang Khoi and so on */
.navbar-default .navbar-nav > li > a {
	color: #2f2f2f;
	font-weight: 400;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/background1.jpg) no-repeat center top;
	padding-top: 220px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#f2f2f2;
	letter-spacing: 4px;
	font-size: 110px;
	font-weight: bold;
}

#headerwrap h2 {
	font-size: 40px;
	font-weight: 400;
	color: #f2f2f2
}

/* #social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #2f2f2f
}

#social i:hover {
	color: #1abc9c
} */

#footerwrap {
	padding-top: 10px;
	/* padding-bottom: 10px; */
	background-color: #2f2f2f;
	color: #f2f2f2;
}

#footerwrap p{
	font-size: 15px;
}

#workwrap {	
	background: url(../img/background2.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#workwrap h1 {
	color:#2f2f2f;
	padding-top: 50px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 100px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #2f2f2f
}

#workwrap1 {	
	background: url(../img/background3.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#workwrap1 h1 {
	color:#f2f2f2;
	padding-top: 50px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 100px;
	font-weight: bold;
}

#workwrap1 h4 {
	font-weight: 400;
	color: #f2f2f2
}

/* Gallery */
.gallery {
	margin-top: 30px;
	/* white-space: nowrap; */
	/* cao hon 380 thi profile picture se break */
	width: 320px;
	display: inline-block;
}

.button {
	background-color: #2f2f2f;
	border: none;
	color: #ffffff;  /* this one is not working somehow so I added color below */
	padding: 17px 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	margin-top: 10px;
}

.button > a {
	color: #ffffff;
	text-decoration: none; /* remove the underline */
}

.gallery img:hover {
	opacity: 0.4;
}

.project {
	font-weight: 700 !important;
}